<h1>Signal - select example</h1>

<pre>
  items = ["apples", "bananas", "oranges"];

  private _selectedItem = signal&lt;string>(this.items[0]);

  get selectedItem() &#123;
    return this._selectedItem();
  }
  set selectedItem(value: string) &#123;
    this._selectedItem.set(value);
  }

  selection = computed&lt;string>(() => `Selected $&#123;this._selectedItem()}`);
</pre>

<div class="mt-2">
  <div class="mt-2">
    <select class="form-select form-select-lg mb-3" aria-label="Select example" [(ngModel)]="selectedItem">
      <option *ngFor="let item of items" [value]="item">{{ item }}</option>
    </select>
  </div>
  <div class="fs-1">
    <p>{{ selection() }}</p>
  </div>
</div>
