<nav>
  <a [routerLink]="['rxjs-of']" class="link-success m-1">of</a>
  <a [routerLink]="['rxjs-timer']" class="link-success m-1">timer</a>
  <a [routerLink]="['rxjs-subscribe']" class="link-success m-1">subscribe</a>
  <a [routerLink]="['rxjs-merge']" class="link-success m-1">merge</a>
  <a [routerLink]="['rxjs-throttle']" class="link-success m-1">throttle</a>
  <a [routerLink]="['rxjs-double-click']" class="link-success m-1">double click</a>
  <a [routerLink]="['rxjs-unsubscribe']" class="link-success m-1">unsubscribe (classis)</a>
  <a [routerLink]="['rxjs-take-until']" class="link-success m-1">unsubscribe (takeUntil)</a>
</nav>

<article class="m-2">
  <router-outlet></router-outlet>
</article>
